html,body{
  background-color: #fff;
  margin: 0;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;

}


.respo {
  width: 50%;
  max-width: 800px;
  height: auto;
}

.dagi {
  font-weight: bold;
}

.lenyilo {
  cursor: pointer;
}

#name {
  text-shadow: 10px 10px 15px black;
  position: absolute;
  right: 100px;
  top: 10px;
  animation: rightLeft linear 40s infinite alternate;
  
}

@keyframes rightLeft {
  to {
    right: 100%;
    transform: translateX(-100%);
  }
}

#move1 {
  position: absolute;
  left: 0;
  top:150px;
  animation: leftRight linear 30s infinite alternate;
  
}


@keyframes leftRight {
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

#move2 {
  position: absolute;
  left: 100px;
  top: 300px;
  animation: leftRight linear 30s infinite alternate;
  
}

@keyframes leftRight {
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

#move3 {
  position: absolute;
  right: 100px;
  top: 450px;
  animation: rightLeft linear 30s infinite alternate;
  
}

@keyframes rightLeft {
  to {
    right: 100%;
    transform: translateX(-100%);
  }
}